/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

#closed-captions{
    /*background-color: aqua;*/
    width: 100%;
    height: auto;
    position: absolute;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	width: -webkit-fill-available;
	position: absolute;
	color: white;
	font-size: 1.3em;
	color: black;
	padding: 0.5em;
	text-align: center;
	margin: 15px 22% 0px;
}

#closed-captions .on {
	opacity: 1;
	background-color: white;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

.voice1 {
	font-family: "Brenner Mono"; 
	font-style: normal;
	/*text-align: right;
	margin: 3em 0em 0em 27em;*/
}

.voice1.on {
	color: green !important;
	/*font-weight: 800;*/
}

.voice2 {
	font-family: Brenner Sans;
/*	margin: 3em 0em 0em 11em;*/
}

.voice2.on {
	color: blue !important;
	/*font-weight: 800;*/
}

.voice3 {
	font-family: Brenner sans condensed;
/*	margin: 3em 0em 0em 40em;*/
}

.voice3.on {
	color: red !important;
	/*font-weight: 800;*/
}

.voice4 {
	font-family: Brenner sans;
	/*margin: 3em 0em 0em 40em;*/
}

.voice4.on {
	color: orange !important;
	/*font-weight: 800;*/
}

.voice5 {
	font-family: Brenner Mono;
	/*margin: 3em 0em 0em 20em;*/
}

.voice5.on {
	color: green !important;
	/*font-weight: 800;*/
}


iframe{
	margin: 0 auto;
    display: block;
    width: 100%;
}


body{
	background-color: black;
	width: 100%;
	margin: 0px;
}


/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

:before{
    transition: .05s;
    position: absolute;
    color: white;
    font-size: 1.1em;
    padding: 0.5em;
    margin: 33em 35% 0em;
    background-color: black;
    display: block;
    width: 30%;
    text-align: center;
    font-family: Brenner sans;
}

.sound0:before{
	content: "(spannend achtergrond geluid)";
	animation: 2s sound0;
	animation-delay: 0s;
}

@keyframes sound0{
 from{	opacity:0;	}	to{	opacity:1;	}
}

.sound1:before{
	content: "(Alarm, enkel geluid)";
	animation: 2s sound1 forwards;
	animation-delay: 1s;
}

@keyframes sound1{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound2:before{
	content: "(Korte politie sirene)";
	animation: 2s sound2 forwards;
	animation-delay: 1s;
}

@keyframes sound2{
 from{   opacity:1;	}	to{	opacity:0;	}
}

.sound3:before{
	content: "(Machine geluid)";
	animation: 2s sound3 forwards;
	animation-delay: 1s;
}

@keyframes sound3{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound4:before{
	content: "(Hoofdalarm, Hoog dof alarm)";
	animation: 2s sound4 forwards;
	animation-delay: 1s;
}

@keyframes sound4{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound5:before{
	content: "(Hoofdalarm, iets zachter)";
	animation: 2s sound5 forwards;
	animation-delay: 1s;
}

@keyframes sound5{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound6:before{
	content: "(Hoofdalarm, hoog blijvende pieptoon)";
	animation: 2s sound6 forwards;
	animation-delay: 7s;
}

@keyframes sound6{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound7:before{
	content: "(Machine geluid)";
	animation: 2s sound7 forwards;
	animation-delay: 5s;
}

@keyframes sound7{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound8:before{
	content: "(Hoofdalarm, Hoog dof alarm)";
	animation: 1.5s sound8 forwards;
	animation-delay: 1s;
}

@keyframes sound8{
 from{	opacity:1;	}	to{	opacity:0;	}
}

.sound9:before{
	content: "(naar hoog piep geluid - spanning opbouwen)";
	animation: 0.5s sound9 forwards;
	animation-delay: 41s;
}

@keyframes sound9{
 from{	opacity:1;	} 	to{	opacity:0;	}
}

.sound10:before{
	content: "(achtergrond muziek - spannende muziek)";
	animation: 0.5s sound10 forwards;
	animation-delay: 43.5s;
}

@keyframes sound10{
 from{	opacity:1;	}	to{	opacity:0;		}
}


.sound1 {
  -webkit-animation: background-blink 2s;  /* Safari 4+ */
  -moz-animation: background-blink 2s;  /* Fx 5+ */
  -o-animation: background-blink 2s;  /* Opera 12+ */
  animation: background-blink 2s;  /* IE 10+, Fx 29+ */
}

@keyframes background-blink {
	0% {
    	background-color: #e50000;
	}
	
	100% {
        background-color: black;
	}
}


/* The moment the class .sound1 is added to the body, the background is yellow */
.sound2 {
  -webkit-animation: background-sound-two 4s;  /* Safari 4+ */
  -moz-animation: background-sound-two 4s;  /* Fx 5+ */
  -o-animation: background-sound-two 4s;  /* Opera 12+ */
  animation: background-sound-two 4s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-two {
	0% {
    	background-color: #276fdb;
	}
	
 100%{
        background-color: black;
	}
}

.sound3{
	 -webkit-animation: background-sound-three 1s;  /* Safari 4+ */
  	-moz-animation: background-sound-three 1s;  /* Fx 5+ */
  	-o-animation: background-sound-three 1s;  /* Opera 12+ */
  	animation: background-sound-three 1s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-three {
	0%{
    	background-color: #66696e;
	}
	
	100%; {
        background-color: black;
	}
}

.sound4{
	 -webkit-animation: background-sound-four 1s;  /* Safari 4+ */
  	-moz-animation: background-sound-four 1s;  /* Fx 5+ */
  	-o-animation: background-sound-four 1s;  /* Opera 12+ */
  	animation: background-sound-four 1s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-four {
	0%{
    	background-color: #8f8f7e;
	}
	
	100%; {
        background-color: black;
	}
}


.sound5{
	 -webkit-animation: background-sound-five 1s;  /* Safari 4+ */
  	-moz-animation: background-sound-five 1s;  /* Fx 5+ */
  	-o-animation: background-sound-five 1s;  /* Opera 12+ */
  	animation: background-sound-five 1s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-five {
	0%{
    	background-color: #8f8f7e;
	}
	
	100%; {
        background-color: black;
	}
}

.sound6{
	 -webkit-animation: background-sound-six 5s;  /* Safari 4+ */
  	-moz-animation: background-sound-six 5s;  /* Fx 5+ */
  	-o-animation: background-sound-six 5s;  /* Opera 12+ */
  	animation: background-sound-six 5s;  /* IE 10+, Fx 29+ */
  	animation-timing-function: ease-in;
}

@keyframes background-sound-six {
	0%{
    	background-color: #8f8f7e;
	}
	
	100% {
        background-color: #bfbf9f;
	}
}

.sound7{
	 -webkit-animation: background-sound-seven 1s;  /* Safari 4+ */
  	-moz-animation: background-sound-seven 1s;  /* Fx 5+ */
  	-o-animation: background-sound-seven 1s;  /* Opera 12+ */
  	animation: background-sound-seven 1s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-seven {
	0%{
    	background-color: #66696e;
	}
	
	100%; {
        background-color: black;
	}
}

.sound8{
	 -webkit-animation: background-sound-eight 1s;  /* Safari 4+ */
  	-moz-animation: background-sound-eight 1s;  /* Fx 5+ */
  	-o-animation: background-sound-eight 1s;  /* Opera 12+ */
  	animation: background-sound-eight 1s;  /* IE 10+, Fx 29+ */
}

@keyframes background-sound-eight {
	0%{
    	background-color: #8f8f7e;
	}
	
	100%; {
        background-color: black;
	}
}

.sound9 iframe{
	width: 720px;
	height: 480px;
	transition: 31s 10s;
	transition-timing-function: ease-in;
}

.sound9{
	animation-name: sound-nine;
  	animation-duration: 4s;
  	animation-delay: 14s;
  	animation-iteration-count: 7;
  	animation-timing-function: ease-in;
}

@keyframes sound-nine {

	50% {
    	background-color: #e6e6e6;
	}
	
	100% {
        background-color: black;
	}
}


/* The animation code */
@keyframes example {
  0%   {background-color: black; left:0px; top:0px;}
  25%  {background-color: #38020b; left:200px; top:0px;}
  50%  {background-color: #6e0214; left:200px; top:200px;}
  75%  {background-color: #38020b; left:0px; top:200px;}
  100% {background-color: black; left:0px; top:0px;}
}

/* The element to apply the animation to */
.sound10 {
  animation-name: example;
  animation-duration: 10s;
  animation-delay: 1s;
  animation-iteration-count:  4;
  animation-timing-function: ease-in;
}

.sound10 iframe{
	width: 720px;
	height: 480px;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0.7;
	font-size: 1.8;
	font-style: Italic;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .5s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .7s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.1s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.4s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.7s;
	/*margin-right: -.25em;*/
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 2s;
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 3s;
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 3.2s;
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 3.7s;
}


/* p1 */

.p1 span {
	opacity: 0.7;
	font-style: Italic;
}

.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}
.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p2 */

.p2 span {
	opacity: 0.7;
	font-style: Italic;
}

.p2.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	/*font-weight: 200;*/
}
.p2.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p2.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p3 */

.p3 span {
	opacity: 0.7;
	font-style: Italic;
}

.p3.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p3.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .2s;
}

.p3.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p3.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s 1.1s;
	/*margin-right: -.25em;*/
}

.p3.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.6s;
	/*margin-right: -.25em;*/
}

.p3.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.8s;
	/*margin-right: .25em;*/
}

/* p4 */

.p4 span {
	opacity: 0.7;
	font-style: Italic;
}

.p4.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p4.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p4.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p4.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p4.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p4.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p4.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

/* p5 */

.p5 span {
	opacity: 0.7;
}

.p5.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p5.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p5.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p5.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p5.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p5.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p5.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}


/* p6 */

.p6 span {
	opacity: 0.7;
}

.p6.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 800;
}

.p6.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s;
	transition: 0s .2s; /*.4s;*/
	font-weight: 800;
}

.p6.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}



/* p7 */

.p7 span {
	opacity: 0.7;
}

.p7.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p7.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p7.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p7.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p7.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p7.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p7.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p7.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p7.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p7.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p7.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}


/* p8 */

.p8 span {
	opacity: 0.7;
}

.p8.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p9 */

.p9 span {
	opacity: 0.7;
}

.p9.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p10 */

.p10 span {
	opacity: 0.7;
}

.p10.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p10.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p10.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p10.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p10.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p10.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p10.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}


/* p11 */

.p11 span {
	opacity: 0.7;
}

.p11.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p12 */

.p12 span {
	opacity: 0.7;
}

.p12.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p13 */

.p13 span {
	opacity: 0.7;
}

.p13.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p13.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p13.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p13.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p13.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p13.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p13.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}


/* p14 */

.p14 span {
	opacity: 0.7;
}

.p14.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p15 */

.p15 span {
	opacity: 0.7;
}

.p15.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p16 */

.p16 span {
	opacity: 0.7;
}

.p16.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p16.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p16.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p16.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p16.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p16.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p16.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p16.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p16.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p16.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p16.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}

.p16.on span:nth-of-type(12) {
	opacity: 1;
	transition: 0.5s 2.4s;
}

.p16.on span:nth-of-type(13) {
	opacity: 1;
	transition: 0.5s 2.6s;
}

.p16.on span:nth-of-type(14) {
	opacity: 1;
	transition: 0.5s 2.8s;
}


/* p17 */

.p17 span {
	opacity: 0.7;
}

.p17.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p18 */

.p18 span {
	opacity: 0.7;
}

.p18.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p19 */

.p19 span {
	opacity: 0.7;
}

.p19.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p20 */

.p20 span {
	opacity: 0.7;
}

.p20.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p21 */

.p21 span {
	opacity: 0.7;
}

.p21.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p21.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p21.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p21.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p21.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p21.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p21.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p21.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p21.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p21.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p21.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}


/* p22 */

.p22 span {
	opacity: 0.7;
}

.p22.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p23 */

.p23 span {
	opacity: 0.7;
}

.p23.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p24 */

.p24 span {
	opacity: 0.7;
}

.p24.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p24.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p24.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p24.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p24.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p24.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p24.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p24.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p24.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p24.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}


/* p25 */

.p25 span {
	opacity: 0.7;
}

.p25.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p26 */

.p26 span {
	opacity: 0.7;
}

.p26.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p27 */

.p27 span {
	opacity: 0.7;
}

.p27.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p27.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p27.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p27.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p27.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p27.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p27.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p27.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}


/* p28 */

.p28 span {
	opacity: 0.7;
}

.p28.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p29 */

.p29 span {
	opacity: 0.7;
}

.p29.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p30 */

.p30 span {
	opacity: 0.7;
}

.p30.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p30.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p30.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p30.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p30.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p30.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}


/* p31 */

.p31 span {
	opacity: 0.7;
}

.p31.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p32 */

.p32 span {
	opacity: 0.7;
}

.p32.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p32.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p32.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p32.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p32.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p32.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p32.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p32.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p32.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p32.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

/* p33 */

.p33 span {
	opacity: 0.7;
}

.p33.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p34 */

.p34 span {
	opacity: 0.7;
}

.p34.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p35 */

.p35 span {
	opacity: 0.7;
}

.p35.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p35.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p35.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p35.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p35.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p35.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p35.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p35.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p35.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p35.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p35.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}


/* p36 */

.p36 span {
	opacity: 0.7;
}

.p36.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p37 */

.p37 span {
	opacity: 0.7;
}

.p37.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p38 */

.p38 span {
	opacity: 0.7;
}

.p38.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p38.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p38.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p39 */

.p39 span {
	opacity: 0.7;
}

.p39.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p39.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p39.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p40 */

.p40 span {
	opacity: 0.7;
}

.p40.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p40.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p40.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p40.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p40.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p40.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p40.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p40.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p40.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p40.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}


/* p41 */

.p41 span {
	opacity: 0.7;
}

.p41.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p41.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p41.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p42 */

.p42 span {
	opacity: 0.7;
}

.p42.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p42.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p42.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p43 */

.p43 span {
	opacity: 0.7;
}

.p43.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p43.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p43.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p44 */

.p44 span {
	opacity: 0.7;
	font-style: Italic;
}

.p44.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p44.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}


/* p45 */

.p45 span {
	opacity: 0.7;
	font-style: Italic;
}

.p45.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p45.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}


/* p46 */

.p46 span {
	opacity: 0.7;
	font-style: Italic;
}

.p46.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p46.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p46.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p46.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p46.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p46.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

/* p47 */

.p47 span {
	opacity: 0.7;
}

.p47.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p47.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p47.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p48 */

.p48 span {
	opacity: 0.7;
}

.p48.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p49 */

.p49 span {
	opacity: 0.7;
	font-style: Italic;
}

.p49.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* 50 */

.p50 span {
	opacity: 0.7;
}

.p50.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p50.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p50.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p50.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p50.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p50.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p50.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p50.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

/* p51 */

.p51 span {
	opacity: 0.7;
}

.p51.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p52 */

.p52 span {
	opacity: 0.7;
	font-style: Italic;
}

.p52.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p52.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p52.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p52.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p52.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p52.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p52.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p52.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p52.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p52.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p52.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}

.p52.on span:nth-of-type(12) {
	opacity: 1;
	transition: 0.5s 2.4s;
}

.p52.on span:nth-of-type(13) {
	opacity: 1;
	transition: 0.5s 2.6s;
}

.p52.on span:nth-of-type(14) {
	opacity: 1;
	transition: 0.5s 2.8s;
}

.p52.on span:nth-of-type(15) {
	opacity: 1;
	transition: 0.5s 3.0s;
}

/* p53 */

.p53 span {
	opacity: 0.7;
}

.p53.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p54 */

.p54 span {
	opacity: 0.7;
	font-style: Italic;
}

.p54.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p54.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p54.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p54.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p54.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p54.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p54.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p54.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p54.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

.p54.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0.5s 2.0s;
}

.p54.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0.5s 2.2s;
}

.p54.on span:nth-of-type(12) {
	opacity: 1;
	transition: 0.5s 2.4s;
}

/* p55 */

.p55 span {
	opacity: 0.7;
	font-style: Italic;
}

.p55.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p56 */

.p56 span {
	opacity: 0.7;
}

.p56.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p57 */

.p57 span {
	opacity: 0.7;
	font-style: Italic;
}

.p57.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p57.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p57.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p58 */

.p58 span {
	opacity: 0.7;
	font-style: Italic;
}

.p58.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p58.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p58.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p59 */

.p59 span {
	opacity: 0.7;
	font-style: Italic;
}

.p59.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p60 */

.p60 span {
	opacity: 0.7;
	font-style: Italic;
}

.p60.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p61 */

.p61 span {
	opacity: 0.7;
	font-style: Italic;
}

.p61.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p61.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p61.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p61.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p61.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p61.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p61.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p61.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p61.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}

/* p62 */

.p62 span {
	opacity: 0.7;
	font-style: Italic;
}

.p62.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p63 */

.p63 span {
	opacity: 0.7;
}

.p63.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p63.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p63.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p63.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p63.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p63.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

.p63.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0.5s 1.4s;
}

.p63.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0.5s 1.6s;
}

.p63.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0.5s 1.8s;
}


/* p64 */

.p64 span {
	opacity: 0.7;
}

.p64.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}


/* p65 */

.p65 span {
	opacity: 0.7;
}

.p65.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p65.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}


/* p66 */

.p66 span {
	opacity: 0.7;
}

.p66.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p66.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

/* p67 */

.p67 span {
	opacity: 0.7;
}

.p67.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p68 */

.p68 span {
	opacity: 0.7;
	font-style: Italic;	
}

.p68.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

/* p69 */

.p69 span {
	opacity: 0.7;
	font-style: Italic;
}

.p69.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p69.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p69.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p70 */

.p70 span {
	opacity: 0.7;
	font-style: Italic;
}

.p70.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p70.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p70.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p71 */

.p71 span {
	opacity: 0.7;
	font-style: Italic;
}

.p71.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p71.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p71.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}



/* p72 */

.p72 span {
	opacity: 0.7;
}

.p72.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p72.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p72.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}


/* p73 */

.p73 span {
	opacity: 0.7;
	font-style: Italic;
}

.p73.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p73.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p73.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p74 */

.p74 span {
	opacity: 0.7;
	font-style: Italic;
}

.p74.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p74.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p74.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p75 */

.p75 span {
	opacity: 0.7;
	font-style: Italic;
}

.p75.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p75.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p75.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p76 */

.p76 span {
	opacity: 0.7;
}

.p76.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p76.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p76.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

/* p77 */

.p77 span {
	opacity: 0.7;
}

.p77.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p77.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p77.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p77.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p77.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

/* p78 */

.p78 span {
	opacity: 0.7;
	font-style: Italic;
}

.p78.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p78.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p78.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p78.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p78.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p78.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}

/* p79 */

.p79 span {
	opacity: 0.7;
	font-style: Italic;
}

.p79.on span:first-of-type {
	opacity: 1;
	transition: 0s;
}

.p79.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0.5s .4s;
}

.p79.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0.5s .6s;
}

.p79.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0.5s .8s;
}

.p79.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0.5s 1.0s;
}

.p79.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0.5s 1.2s;
}